# Going to go a bit crazyyyy

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
endo = pd.read_csv("../../../../Dropbox/cal_berkeley/classes/phc240c/normalized_t.csv")

In [3]:
endo.head()

,Unnamed: 0,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,1316_at,1320_at,1405_i_at,...,AFFX-r2-Ec-bioD-3_at,AFFX-r2-Ec-bioD-5_at,AFFX-r2-P1-cre-3_at,AFFX-r2-P1-cre-5_at,AFFX-ThrX-3_at,AFFX-ThrX-5_at,AFFX-ThrX-M_at,AFFX-TrpnX-3_at,AFFX-TrpnX-5_at,AFFX-TrpnX-M_at
0,GSM1256653_123.CEL.gz,9.144360,6.822537,2.416620,9.009204,2.236028,4.520386,4.526698,2.236028,7.767562,...,14.154105,13.799957,15.704194,14.928269,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028
1,GSM1256654_118.CEL.gz,9.071027,7.239534,2.482114,9.121438,2.236028,4.367321,5.062675,2.236028,5.342020,...,14.976518,14.589105,16.271436,15.556831,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028
2,GSM1256655_103.CEL.gz,8.376408,6.211566,3.000532,8.171364,2.236028,4.232511,5.081152,2.236028,6.775237,...,15.125143,14.529937,16.569502,16.294425,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028
3,GSM1256656_132.CEL.gz,10.326269,5.947279,2.482114,11.231319,2.236028,5.366003,4.475372,2.236028,6.191358,...,14.630020,14.396243,16.021648,15.198964,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028
4,GSM1256657_119.CEL.gz,9.062173,7.319749,2.564821,7.979589,2.236028,5.308206,4.416175,2.236028,8.618690,...,13.873481,13.584635,15.624633,15.143731,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028

In [4]:
endo.shape

(148, 54676)

In [5]:
endo[endo.columns[0]] = [re.sub(".CEL.gz", "", x) for x in  endo[endo.columns[0]]]

In [6]:
endo[endo.columns[0]] = [re.sub("_[0-9]{1,3}", "", x) for x in endo[endo.columns[0]]]

In [7]:
endo.head()

,Unnamed: 0,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,1316_at,1320_at,1405_i_at,...,AFFX-r2-Ec-bioD-3_at,AFFX-r2-Ec-bioD-5_at,AFFX-r2-P1-cre-3_at,AFFX-r2-P1-cre-5_at,AFFX-ThrX-3_at,AFFX-ThrX-5_at,AFFX-ThrX-M_at,AFFX-TrpnX-3_at,AFFX-TrpnX-5_at,AFFX-TrpnX-M_at
0,GSM1256653,9.144360,6.822537,2.416620,9.009204,2.236028,4.520386,4.526698,2.236028,7.767562,...,14.154105,13.799957,15.704194,14.928269,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028
1,GSM1256654,9.071027,7.239534,2.482114,9.121438,2.236028,4.367321,5.062675,2.236028,5.342020,...,14.976518,14.589105,16.271436,15.556831,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028
2,GSM1256655,8.376408,6.211566,3.000532,8.171364,2.236028,4.232511,5.081152,2.236028,6.775237,...,15.125143,14.529937,16.569502,16.294425,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028
3,GSM1256656,10.326269,5.947279,2.482114,11.231319,2.236028,5.366003,4.475372,2.236028,6.191358,...,14.630020,14.396243,16.021648,15.198964,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028
4,GSM1256657,9.062173,7.319749,2.564821,7.979589,2.236028,5.308206,4.416175,2.236028,8.618690,...,13.873481,13.584635,15.624633,15.143731,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028

In [8]:
meta = pd.read_csv("../../data/genbank/clean-csv/metadata.csv")

In [9]:
meta.head()

,Unnamed: 0,tissue,endometriosis,severity
0,GSM1256653,Early Secretory Endometrial tissue,Endometriosis,Moderate/Severe
1,GSM1256654,Early Secretory Endometrial tissue,Endometriosis,Moderate/Severe
2,GSM1256655,Proliferative Endometrial tissue,Endometriosis,Moderate/Severe
3,GSM1256656,Mid-Secretory Endometrial tissue,Endometriosis,Moderate/Severe
4,GSM1256657,Early Secretory Endometrial tissue,Endometriosis,Moderate/Severe

In [10]:
full_data = meta.merge(endo, on=meta.columns[0])

In [11]:
full_data.head()

,Unnamed: 0,tissue,endometriosis,severity,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,...,AFFX-r2-Ec-bioD-3_at,AFFX-r2-Ec-bioD-5_at,AFFX-r2-P1-cre-3_at,AFFX-r2-P1-cre-5_at,AFFX-ThrX-3_at,AFFX-ThrX-5_at,AFFX-ThrX-M_at,AFFX-TrpnX-3_at,AFFX-TrpnX-5_at,AFFX-TrpnX-M_at
0,GSM1256653,Early Secretory Endometrial tissue,Endometriosis,Moderate/Severe,9.144360,6.822537,2.416620,9.009204,2.236028,4.520386,...,14.154105,13.799957,15.704194,14.928269,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028
1,GSM1256654,Early Secretory Endometrial tissue,Endometriosis,Moderate/Severe,9.071027,7.239534,2.482114,9.121438,2.236028,4.367321,...,14.976518,14.589105,16.271436,15.556831,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028
2,GSM1256655,Proliferative Endometrial tissue,Endometriosis,Moderate/Severe,8.376408,6.211566,3.000532,8.171364,2.236028,4.232511,...,15.125143,14.529937,16.569502,16.294425,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028
3,GSM1256656,Mid-Secretory Endometrial tissue,Endometriosis,Moderate/Severe,10.326269,5.947279,2.482114,11.231319,2.236028,5.366003,...,14.630020,14.396243,16.021648,15.198964,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028
4,GSM1256657,Early Secretory Endometrial tissue,Endometriosis,Moderate/Severe,9.062173,7.319749,2.564821,7.979589,2.236028,5.308206,...,13.873481,13.584635,15.624633,15.143731,2.236028,2.236028,2.236028,2.236028,2.236028,2.236028

In [12]:
full_data.shape

(148, 54679)

In [13]:
np.intersect1d(meta[meta.columns[0]], endo[endo.columns[0]])

array(['GSM1256653', 'GSM1256654', 'GSM1256655', 'GSM1256656',
       'GSM1256657', 'GSM1256658', 'GSM1256659', 'GSM1256660',
       'GSM1256661', 'GSM1256662', 'GSM1256663', 'GSM1256664',
       'GSM1256665', 'GSM1256666', 'GSM1256667', 'GSM1256668',
       'GSM1256669', 'GSM1256670', 'GSM1256671', 'GSM1256672',
       'GSM1256673', 'GSM1256674', 'GSM1256675', 'GSM1256676',
       'GSM1256677', 'GSM1256678', 'GSM1256679', 'GSM1256680',
       'GSM1256681', 'GSM1256682', 'GSM1256683', 'GSM1256684',
       'GSM1256685', 'GSM1256686', 'GSM1256687', 'GSM1256688',
       'GSM1256689', 'GSM1256690', 'GSM1256691', 'GSM1256692',
       'GSM1256693', 'GSM1256694', 'GSM1256695', 'GSM1256696',
       'GSM1256697', 'GSM1256698', 'GSM1256699', 'GSM1256700',
       'GSM1256701', 'GSM1256702', 'GSM1256703', 'GSM1256704',
       'GSM1256705', 'GSM1256706', 'GSM1256707', 'GSM1256708',
       'GSM1256709', 'GSM1256710', 'GSM1256711', 'GSM1256712',
       'GSM1256713', 'GSM1256714', 'GSM1256715', 'GSM1256716',
       'GSM1256717', 'GSM1256718', 'GSM1256719', 'GSM1256720',
       'GSM1256721', 'GSM1256722', 'GSM1256723', 'GSM1256724',
       'GSM1256725', 'GSM1256726', 'GSM1256727', 'GSM1256728',
       'GSM1256729', 'GSM1256730', 'GSM1256731', 'GSM1256732',
       'GSM1256733', 'GSM1256734', 'GSM1256735', 'GSM1256736',
       'GSM1256737', 'GSM1256738', 'GSM1256739', 'GSM1256740',
       'GSM1256741', 'GSM1256742', 'GSM1256743', 'GSM1256744',
       'GSM1256745', 'GSM1256746', 'GSM1256747', 'GSM1256748',
       'GSM1256749', 'GSM1256750', 'GSM1256751', 'GSM1256752',
       'GSM1256753', 'GSM1256754', 'GSM1256755', 'GSM1256756',
       'GSM1256757', 'GSM1256758', 'GSM1256759', 'GSM1256760',
       'GSM1256761', 'GSM1256762', 'GSM1256763', 'GSM1256764',
       'GSM1256765', 'GSM1256766', 'GSM1256767', 'GSM1256768',
       'GSM1256769', 'GSM1256770', 'GSM1256771', 'GSM1256772',
       'GSM1256773', 'GSM1256774', 'GSM1256775', 'GSM1256776',
       'GSM1256777', 'GSM1256778', 'GSM1256779', 'GSM1256780',
       'GSM1256781', 'GSM1256782', 'GSM1256783', 'GSM1256784',
       'GSM1256785', 'GSM1256786', 'GSM1256787', 'GSM1256788',
       'GSM1256789', 'GSM1256790', 'GSM1256791', 'GSM1256792',
       'GSM1256793', 'GSM1256794', 'GSM1256795', 'GSM1256796',
       'GSM1256797', 'GSM1256798', 'GSM1256799', 'GSM1256800'],
      dtype=object)

In [14]:
np.setdiff1d(meta[meta.columns[0]], endo[endo.columns[0]])

array([], dtype=object)

In [15]:
np.setdiff1d(endo[endo.columns[0]], meta[meta.columns[0]])

array([], dtype=object)

# Cut out here

In [16]:
endo.shape[1]-4

54672

In [17]:
ranges = [[np.min(x), np.max(x)] for x in [range(y*(endo.shape[1]-4)/10,(y+1)*(endo.shape[1]-4)/10) for y in range(0,10)]]
ranges

[[0, 5466],
 [5467, 10933],
 [10934, 16400],
 [16401, 21867],
 [21868, 27335],
 [27336, 32802],
 [32803, 38269],
 [38270, 43736],
 [43737, 49203],
 [49204, 54671]]

In [18]:
ranges = pd.DataFrame(ranges, columns=["start", "end"])
ranges

   start    end
0      0   5466
1   5467  10933
2  10934  16400
3  16401  21867
4  21868  27335
5  27336  32802
6  32803  38269
7  38270  43736
8  43737  49203
9  49204  54671

In [19]:
def cut_csv(ranges, out_name):
    this_range = range(ranges[0], ranges[1])
    this_cut   = endo[endo.columns[[x+4 for x in this_range]]]
    this_subset = meta.join(this_cut, how="outer")
    this_file = "../../data/genbank/01-normalized/" + out_name + ".csv"
    this_subset.to_csv(this_file, encoding="utf-8")

In [20]:
out_names = ["cut_"+str(x) for x in range(1,11)]
out_names

['cut_1',
 'cut_2',
 'cut_3',
 'cut_4',
 'cut_5',
 'cut_6',
 'cut_7',
 'cut_8',
 'cut_9',
 'cut_10']

In [21]:
for index, row in ranges.iterrows():
    print(index)
    cut_csv(list(row), out_names[index])

0
1
2
3
4
5
6
7
8
9

# Make A Random Sample

In [ ]:
# random_integers(low[, high, size])	Random integers of type np.int between low and high, inclusive.

In [22]:
ix = np.random.randint(full_data.shape[1], size=100)

In [23]:
ix = ix.tolist()

In [24]:
start = [0,1,2,3,4]

In [25]:
ix = [start, ix]

In [26]:
ix = [y for x in ix for y in x]

In [27]:
sample = full_data.columns[ix]

In [28]:
sample

Index([u'Unnamed: 0', u'tissue', u'endometriosis', u'severity', u'1007_s_at',
       u'202371_at', u'210656_at', u'216939_s_at', u'205160_at', u'225576_at',
       ...
       u'223027_at', u'242342_at', u'222257_s_at', u'204336_s_at',
       u'201211_s_at', u'1562502_at', u'225233_at', u'1559441_s_at',
       u'1553804_a_at', u'235668_at'],
      dtype='object', length=105)

In [29]:
sample_df = full_data[sample]

In [30]:
sample_df.to_csv("../../data/genbank/01-small-subset/normalized_subset.csv")

In [31]:
full_data.shape

(148, 54679)