# Genbank Dataset

In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
series = pd.read_csv("../../data/genbank/clean-csv/series_clean.csv")

In [5]:
series.shape

(148, 54676)

# Figshare Dataset

In [7]:
series_2a = pd.read_csv("../../data/figshare/clean-csv/minimal-mild.csv")

In [8]:
series_2b = pd.read_csv("../../data/figshare/clean-csv/moderate-severe.csv")

In [9]:
series_2c = pd.read_csv("../../data/figshare/clean-csv/normal.csv")

In [14]:
series_2 = series_2a.append([series_2b, series_2c])

In [16]:
series_2.shape

(105, 10129)

# Subject Names

In [30]:
same_subjects = np.intersect1d(series[series.columns[0]], series_2[series_2.columns[0]])

In [31]:
len(same_subjects)

105

All of the subjects within the Figshare dataset are within the Genbank dataset.

# Compare Information for One Subject

In [38]:
series[series.columns[0]][0]

'GSM1256653'

I am just choosing the first subject. I want to see if the Figshare data is entirely included in the genbank data.

In [40]:
series_2.loc[series_2[series_2.columns[0]] == "GSM1256653"]

,Samples,A1BG,A1BG-AS1,A4GALT,AA06,AAAS,AADAT,AAED1,AAGAB,AAK1,...,ZUFSP,ZW10,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11B,ZYX,ZZZ3
45,GSM1256653,3.51288,4.44349,5.631155,2.517551,7.085175,9.153869,7.204691,7.284539,8.579684,...,6.675945,5.848274,8.059279,9.455542,4.666837,6.281151,7.348984,8.795913,10.805371,8.067536

In [45]:
pd.DataFrame(series.iloc[0]).T

,Unnamed: 0,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,1316_at,1320_at,1405_i_at,...,AFFX-r2-Ec-bioD-3_at,AFFX-r2-Ec-bioD-5_at,AFFX-r2-P1-cre-3_at,AFFX-r2-P1-cre-5_at,AFFX-ThrX-3_at,AFFX-ThrX-5_at,AFFX-ThrX-M_at,AFFX-TrpnX-3_at,AFFX-TrpnX-5_at,AFFX-TrpnX-M_at
0,GSM1256653,9.14257,6.82935,2.41587,9.03404,2.23607,4.55585,4.51324,2.23607,7.78078,...,14.133,13.782,15.6913,14.9328,2.23607,2.23607,2.23607,2.23607,2.23607,2.23607

In [49]:
pd.DataFrame(series.iloc[0])

                                0
Unnamed: 0             GSM1256653
1007_s_at                 9.14257
1053_at                   6.82935
117_at                    2.41587
121_at                    9.03404
1255_g_at                 2.23607
1294_at                   4.55585
1316_at                   4.51324
1320_at                   2.23607
1405_i_at                 7.78078
1431_at                   2.25388
1438_at                   5.82313
1487_at                   6.50743
1494_f_at                 2.23607
1552256_a_at              6.22082
1552257_a_at              7.51147
1552258_at                2.23607
1552261_at                5.66273
1552263_at                4.46698
1552264_a_at              5.43233
1552266_at                2.43465
1552269_at                2.23765
1552271_at                2.23607
1552272_a_at              2.47297
1552274_at                5.84659
1552275_s_at               4.9513
1552276_a_at              2.23607
1552277_a_at              6.90821
1552278_a_at               2.2384
1552279_a_at              2.92473
...                           ...
AFFX-PheX-3_at            2.33197
AFFX-PheX-5_at            2.23607
AFFX-PheX-M_at            2.23607
AFFX-r2-Bs-dap-3_at       2.23607
AFFX-r2-Bs-dap-5_at       2.23607
AFFX-r2-Bs-dap-M_at       2.23607
AFFX-r2-Bs-lys-3_at       2.23607
AFFX-r2-Bs-lys-5_at       2.23607
AFFX-r2-Bs-lys-M_at       2.23607
AFFX-r2-Bs-phe-3_at       2.23607
AFFX-r2-Bs-phe-5_at       2.23607
AFFX-r2-Bs-phe-M_at       2.23607
AFFX-r2-Bs-thr-3_s_at     2.23607
AFFX-r2-Bs-thr-5_s_at     2.23607
AFFX-r2-Bs-thr-M_s_at     2.23607
AFFX-r2-Ec-bioB-3_at      8.10902
AFFX-r2-Ec-bioB-5_at       7.9949
AFFX-r2-Ec-bioB-M_at      8.76121
AFFX-r2-Ec-bioC-3_at      8.91214
AFFX-r2-Ec-bioC-5_at      9.11165
AFFX-r2-Ec-bioD-3_at       14.133
AFFX-r2-Ec-bioD-5_at       13.782
AFFX-r2-P1-cre-3_at       15.6913
AFFX-r2-P1-cre-5_at       14.9328
AFFX-ThrX-3_at            2.23607
AFFX-ThrX-5_at            2.23607
AFFX-ThrX-M_at            2.23607
AFFX-TrpnX-3_at           2.23607
AFFX-TrpnX-5_at           2.23607
AFFX-TrpnX-M_at           2.23607

[54676 rows x 1 columns]

# Check Sample

In [72]:
pd.DataFrame(series.iloc[0]).T["121_at"]

0    9.03404
Name: 121_at, dtype: object

In [67]:
series_2.loc[series_2[series_2.columns[0]] == "GSM1256653"]["PAX8"]

45    9.034042
Name: PAX8, dtype: float64